.container-contact {
  margin: -50px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-contact .contacts-box {
  margin: 0 40px;
}

.container-contact .contacts-box .contact-messager h1 {
  font-size: 1.5rem;
  padding: 0 20px;
  text-align: center;
}

.container-contact .contacts-box .contact-messager {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid blueviolet;
  text-shadow: 0 0 1px blueviolet, 0 0 5px blueviolet;
  min-height: 100px;
  max-width: 600px;
  padding: 0 20px;
  margin: 40px 20px;
}

.container-contact .contacts-box .contact-messager:nth-child(2),
.container-contact .contacts-box .contact-messager:nth-child(3) {
  max-width: 300px;
}

.container-contact .contacts-box .contact-messager a {
  display: inline-block;
  color: #ffffff;
  margin: 0 0.5em;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s;
}

.container-contact .contacts-box .contact-messager .mail,
.container-contact .contacts-box .contact-messager .download-resume-button {
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  -webkit-tap-highlight-color: transparent;
}

.container-contact .contacts-box .contact-messager .mail:hover,
.container-contact
  .contacts-box
  .contact-messager
  .download-resume-button:hover {
  background-color: #0a0416;
  box-shadow: none;
  color: blueviolet;
  box-shadow: 0 0 1px blueviolet, 0 0 5px blueviolet, 0 0 5px blueviolet;
  border-color: blueviolet;
  transform: scale(1.1);
}

.container-contact .contacts-box .contact-messager a:hover {
  color: #000000;
  box-shadow: 0 0 30px blueviolet, 0 0 40px blueviolet;
  background-color: blueviolet;
}

.container-contact .contacts-box .contact-messager a .icon:hover {
  transform: scale(1.5);
}

.container-contact .contacts-box .contact-messager a .icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

/* Работа с текстом */
.container-contact .advertising-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-evenly;
  max-width: 700px;
  margin: 40px;
}

.container-contact .advertising-text .create-site {
  margin-bottom: 20px;
}

.container-contact .advertising-text p {
  padding: 20px 0;
  font-size: 1.5em;
}

.container-contact .advertising-text > p {
  width: 90%;
  padding: 20px 10px;
  border-bottom: 1px solid blueviolet;
}

.container-contact .advertising-text ul li {
  padding: 10px 0;
  margin: 0 40px;
  font-family: "Arial", sans-serif;
  font-size: 1.1em;
}

@media (max-width: 767px) {
  .container-contact {
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
  }

  .container-contact .contacts-box {
    margin: 0;
  }

  .container-contact .contacts-box .contact-messager {
    flex-direction: column;
    padding: 20px;
    margin: 0px 20px;
  }

  .container-contact .contacts-box .contact-messager h1 {
    padding: 0 0 20px;
    font-size: 1.2em;
  }

  .container-contact .contacts-box .contact-messager .mail,
  .container-contact .contacts-box .contact-messager .download-resume-button {
    margin-right: 0px;
    font-size: 0.8em;
  }

  .container-contact .contacts-box .contact-messager h1:nth-child(2) {
    display: none;
  }

  .container-contact .advertising-text > p {
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid blueviolet;
  }

  .container-contact .advertising-text p {
    font-size: 1.1em;
  }

  .container-contact .advertising-text ul li {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-contact .contacts-box {
    margin-left: 20px;
  }

  .container-contact .contacts-box .contact-messager {
    flex-direction: column;
    padding: 20px;
    margin: 0px 20px;
  }

  .container-contact .contacts-box .contact-messager h1 {
    padding: 0 0 20px;
  }

  .container-contact .contacts-box .contact-messager h1:nth-child(2) {
    display: none;
  }

  .container-contact .advertising-text p {
    font-size: 1.2em;
  }

  .container-contact .advertising-text ul li {
    font-size: 1em;
  }

  .container-contact .contacts-box .contact-messager .mail,
  .container-contact .contacts-box .contact-messager .download-resume-button {
    margin-right: 0px;
    font-size: 1em;
  }
}
