* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgb(45, 1, 85);
}

::-webkit-scrollbar-thumb { 
  border-radius: 2px;
  background-color: blueviolet;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

body {
  background-color: rgb(118, 118, 118);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
